.form {
  width: 100%;
  margin-inline: auto;
  box-shadow: var(--heavy-shadow);
  border-radius: 16px;
  padding: 32px 20px;
}

.form form {
  display: grid;
  grid-template-columns: 1fr;
}

.form h1 {
  text-align: center;
  margin-bottom: 4px;
}

.form p {
  margin-bottom: 40px;
  text-align: center;
}

.form label {
  margin-bottom: 8px;
}

.form input,
.form select {
  padding: 12px 16px;
  border-radius: 4px;
  box-shadow: var(--light-shadow);
  border: 1px solid var(--neutral-bd1);
  transition: 300ms background-color;
}
.form input:focus,
.form select:focus {
  outline: 2px solid var(--neutral-bd0);
  outline-offset: 2px;
}
.form input:hover,
.form select:hover {
  background-color: var(--neutral-bg1);
}

.form input {
  margin-bottom: 24px;
}

.form div {
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}
.form div::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 12px;
  position: absolute;
  right: 9px;
  top: 13px;
  background: url("/svg/down-arrow.svg") no-repeat center;
  pointer-events: none;
}

.form select {
  width: 100%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.form button {
  display: block;
  width: 100%;
  text-align: center;
  padding-block: 12px;
  border-radius: 12px;
  transition:
    300ms box-shadow,
    300ms background-color;
}
.form button.active {
  color: var(--neutral-inv-tx0);
  background: var(--primary-bg);
  cursor: pointer;
  box-shadow: var(--light-shadow);
}
.form button.active:hover {
  background-color: var(--primary-dark-bg);
  box-shadow: var(--hover-shadow);
}
.form button.active:focus {
  outline: 2px solid var(--primary-bg);
  outline-offset: 2px;
}
